.settings-pane {
    -fx-background-color: linear-gradient(to bottom, #0a0514 0%, #1a0a28 25%, #0f0520 50%, #1a0a28 75%, #0a0514 100%);
}

.settings-title {
    -fx-font-family: "Cynosure Straight";
    -fx-font-size: 65px;
    -fx-fill: #FFFFFF;
    -fx-effect: dropshadow(gaussian, #00f5ff, 11, 0.1, 0, 0);
}

#btnQuitSetting {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 3px;
    -fx-border-radius: 3px;
    -fx-font-family: "Xirod";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: gray;
    -fx-cursor: hand;
    -fx-effect: null;
}

#btnQuitSetting:hover {
    -fx-background-color: rgba(30, 10, 50, 0.2);
    -fx-border-color: #00f5ff;
    -fx-border-width: 3px;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, #00f5ff, 10, 0.2, 0, 0);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

#btnQuitSetting:pressed {
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
}

.vbox-container {
    -fx-background-color: transparent;
}

.settings-frame {
    -fx-background-color: rgba(10, 15, 45, 0.95);
    -fx-border-width: 4px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-border-color: #ff006e;

    -fx-effect: dropshadow(gaussian, #ff006e, 25, 0.3, 0, 0);
}

.settings-inner {
    -fx-background-color: transparent;
    -fx-border-color: #00f5ff;
    -fx-border-width: 2.5px;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-effect: dropshadow(gaussian, #00f5ff, 25, 0.3, 0, 0);

}

.slider-container {
    -fx-background-color: transparent;
    -fx-padding: 20px 30px;
}

.volume-title {
    -fx-font-family: "Xirod";
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
}

.volume-percentage {
    -fx-font-family: "Xirod";
    -fx-font-size: 16px;
    -fx-text-fill: #00f5ff;
}

.volume-slider {
    -fx-pref-width: 280px;
}

.volume-slider .track {
    -fx-background-color: rgba(0, 245, 255, 0.2);
    -fx-background-radius: 4px;
    -fx-pref-height: 6px;
}

.volume-slider .thumb {
    -fx-background-color: #00f5ff;
    -fx-background-radius: 10px;
    -fx-pref-width: 18px;
    -fx-pref-height: 18px;
    -fx-effect: dropshadow(gaussian, #00f5ff, 10, 0.7, 0, 0);
}

#btnTutorial, #btnExit {
    -fx-background-color: transparent;
    -fx-border-color: #00f5ff;
    -fx-border-width: 2px;
    -fx-font-family: "Xirod";
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-effect: dropshadow(gaussian, #00f5ff, 10, 0.2, 0, 0);
}

#btnTutorial:hover, #btnExit:hover {
    -fx-background-color: rgba(30, 10, 50, 0.2);
    -fx-border-color: #00f5ff;
    -fx-border-width: 2px;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, #00f5ff, 10, 0.2, 0, 0);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

#btnTutorial:pressed, #btnExit:pressed {
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
}
